html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	/* transition: inherit; */
}

:root {
	--body-color: #e4e9f7;
	--sidebar-color: #ffffff;
	--sidebar-color-c: rgba(255, 255, 255, 0.5);
	/* --primary-color: rgb(188, 221, 255); */
	--primary-color: hotpink;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #707070;

	--sidebar-width: 220px;
	--sidebar-width-padding: 13px;
	--slide-container-width: 800px;
	--slide-container-height: 450px;
	--search-box-width: 600px;

	--transition-01: all 0.1s ease;
	--transition-02: all 0.2s ease;
	--transition-03: all 0.3s ease;
	--transition-04: all 0.4s ease;
	--transition-05: all 0.5s ease;
	--transition-5: all 5s ease;
}

body {
	padding-left: 86px;
	height: 100vh;
	background-color: var(--body-color);
	transition: var(--transition-03);
}
body.dark {
	--body-color: #18191a;
	--sidebar-color: #242526;
	--sidebar-color-c: rgba(36, 37, 38, 0.5);
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
}
.text {
	font-size: 16px;
	font-weight: normal;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--text-color);
	white-space: nowrap;
	transition: var(--transition-02);
}
/* ===== 사이드바 ===== */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 220px;
	z-index: 10000;
	background: var(--sidebar-color-c);
	padding: 15px 13px;
	transition: var(--transition-05);
}
.sidebar.close {
	width: 60px;
	background: var(--sidebar-color);
}

.sidebar.close .text {
	opacity: 0;
	visibility: hidden;
	/* display: none; */
}
.sidebar .image {
	min-width: 60px;
	display: flex;
	align-items: center;
}
/* ===== 사이드바 header ===== */
.sidebar header {
	position: relative;
}

.sidebar header .image-text {
	display: flex;
	/* align-items: center; */
}

.sidebar header .image-text img {
	width: 40px;
	height: 40px;
	border-radius: 6px;
}

.sidebar header .image-text .text {
	display: flex;
	flex-direction: column;
}

.sidebar header .image-text .text .title {
	font-weight: 700;
}

.sidebar header .image-text .text .description {
	margin-top: 3px;
}
.sidebar header .toggle-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -26px;
	height: 26px;
	width: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--primary-color);
}

/* ===== 사이드바 menu-bar ===== */
.sidebar li {
	height: 50px;
	margin-top: 10px;
	list-style: none;
	display: flex;
	align-items: center;
}
.sidebar li .icon {
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	transition: var(--transition-05);
}
.sidebar .menu-bar {
	display: flex;
	flex-direction: column;
	height: calc(100% - 70px);
	justify-content: space-between;
}

.sidebar .menu-bar .menu .search-menu {
	background: var(--primary-color-light);
	border-radius: 6px;
	transition: var(--transition-05);
}
/* .sidebar .menu-bar .menu .search-menu .search-icon {
} */
.sidebar .menu-bar .menu .search-menu input {
	background: var(--primary-color-light);
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 6px;
	transition: var(--transition-05);
	color: var(--text-color);
}
.sidebar.close .menu-bar .menu .search-menu input {
	opacity: 0;
}

.sidebar .menu-bar .menu .nav .nav-link li a {
	height: 100%;
	width: 100%;
	display: flex;
	border-radius: 6px;
	align-items: center;
	transition: var(--transition-04);
	text-decoration: none;
}

.sidebar .menu-bar .menu .nav .nav-link li a:hover {
	background: var(--primary-color);
}

.sidebar .menu-bar .menu .nav .nav-link li a:hover .icon,
.sidebar .menu-bar .menu .nav .nav-link li a:hover .text {
	color: var(--sidebar-color);
}
body.dark .sidebar .menu-bar .menu .nav .nav-link li a:hover .icon,
body.dark .sidebar .menu-bar .menu .nav .nav-link li a:hover .text {
	color: var(--text-color);
}
.sidebar .menu-bar .menu .nav .nav-link li a .text {
	transition: var(--transition-04);
}

/* ===== 사이드바 footer ===== */
.sidebar footer {
	display: flex;
	justify-content: space-between;
}
.sidebar footer .mode {
	position: relative;
	width: 100%;
	border-radius: 6px;
	background: var(--primary-color-light);
}
.sidebar footer .mode .sun-moon {
	height: 50px;
	width: 60px;
	display: flex;
	align-items: center;
}
.sidebar footer .mode .sun-moon i {
	position: absolute;
}
.sidebar footer .mode .sun-moon i.sun {
	opacity: 0;
}
.sidebar footer .mode .sun-moon i.moon {
	opacity: 1;
}
.sidebar footer .mode .toggle-switch {
	position: absolute;
	right: 0px;
	display: flex;
	height: 100%;
	min-width: 60px;
	justify-content: center;
	align-items: center;
}
.sidebar footer .mode .toggle-switch .switch {
	position: relative;
	height: 22px;
	width: 44px;
	border-radius: 25px;
	background: var(--toggle-color);
	cursor: pointer;
}
.sidebar footer .mode .toggle-switch .switch::before {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background: var(--sidebar-color);
	transition: var(--transition-02);
}

body.dark .sidebar footer .mode .toggle-switch .switch::before {
	left: 24px;
}
/* ===== 검색창 =====*/
.sidebar + .search-center {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	backdrop-filter: blur(10px) brightness(0.9);
	/* transition: var(--transition-01); */
}
.sidebar.close + .search-center {
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	opacity: 0;
}

.search-center {
	position: relative;
}
.search-center .search-box {
	display: flex;
	flex-direction: column;
	padding: 10px 8px;
	position: absolute;
	border-radius: 10px;
	top: 20%;
	left: calc(50vw + var(--sidebar-width) / 2 + var(--sidebar-width-padding) - var(--search-box-width) / 2 - 8px);
	width: var(--search-box-width);
	background-color: var(--sidebar-color-c);
}
.search-center .search-box .search-bar {
	width: inherit;
	height: 50px;
	border-radius: 6px;
	display: flex;
	background: var(--primary-color-light);
	transition: var(--transition-05);
}
.search-center .search-box .search-bar .icon {
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
}
.search-center .search-box .search-bar input {
	background: var(--primary-color-light);
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 6px;
	transition: var(--transition-05);
	color: var(--text-color);
}
.search-center .search-box .search-results {
	width: inherit;
	margin-top: 10px;
	min-height: 20px;
	border-radius: 6px;
	/* display: flex; */
	background: var(--sidebar-color-c);
	transition: var(--transition-05);
}
.search-center .search-box .search-results li {
	height: 50px;
	margin: 10px 5px;
	list-style: none;
	width: inherit;
	padding: 0px 13px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	border: hsla(210, 4%, 10%, 0.4) 0.5px solid;
	transition: var(--transition-05);
	background: var(--sidebar-color-c);
}
.search-center .search-box .search-results li:hover {
	background: var(--primary-color);
}
.search-center .search-box .search-results li:hover .text {
	color: var(--sidebar-color);
}
body.dark .search-center .search-box .search-results li:hover .text {
	color: var(--text-color);
}

/* =====메인페이지===== */

/* =====홈페이지===== */

/* =====홈페이지-슬라이드===== */
.homepage .homepage-slide {
	width: calc(100vw - 86px);
	height: calc(var(--slide-container-height) + 60px);
	/* background-color: blue; */
	display: flex;
	/* flex-direction: column; */
	position: relative;
	align-items: center;
	justify-content: space-between;
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container {
	position: relative;
	display: flex;
	width: var(--slide-container-width);
	height: var(--slide-container-height);
	/* background-color: red; */
	transition: inherit;
	/* transform: translateX(-920px); */
}
.homepage .homepage-slide .container .contents:nth-child(1) {
	width: inherit;
	height: inherit;
	position: absolute;
	left: -280px;
	transition: 0.5s;
	z-index: 80;
	filter: brightness(30%);
	transform: scale(0.75);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(2) {
	width: inherit;
	height: inherit;
	position: absolute;
	left: -140px;
	transition: 0.5s;
	z-index: 90;
	filter: brightness(60%);
	transform: scale(0.9);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(3) {
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0px;
	transition: 0.5s;
	z-index: 100;
	filter: brightness(100%);
	transform: scale(1);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(4) {
	width: inherit;
	height: inherit;
	position: absolute;
	left: 140px;
	transition: 0.5s;
	z-index: 90;
	filter: brightness(60%);
	transform: scale(0.9);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(5) {
	width: inherit;
	height: inherit;
	position: absolute;
	left: 280px;
	transition: 0.5s;
	z-index: 80;
	filter: brightness(30%);
	transform: scale(0.75);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(6) {
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: 110;
	opacity: 1;
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents img {
	width: inherit;
	height: inherit;
}
.homepage .homepage-slide .container .contents iframe {
	width: inherit;
	height: inherit;
}
