html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	/* transition: inherit; */
}

:root {
	--body-color: #e4e9f7;
	--sidebar-color: #ffffff;
	--sidebar-color-c: rgba(255, 255, 255, 0.5);
	--component-color: rgba(222, 226, 239, 0.3);
	--primary-color: hotpink;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #707070;

	--sidebar-width: 220px;
	--sidebar-width-padding: 13px;
	--slide-container-width: 800px;
	--slide-container-height: 450px;
	--search-box-width: 600px;

	--border: 2px solid #dadada;

	--box-shadow-01: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
	--box-shadow-02: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	--box-shadow-03: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	--box-shadow-04: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
	--transition-01: all 0.1s ease;
	--transition-02: all 0.2s ease;
	--transition-03: all 0.3s ease;
	--transition-04: all 0.4s ease;
	--transition-05: all 0.5s ease;
	--transition-5: all 5s ease;
}

body {
	padding-left: 86px;
	height: 100vh;
	background-color: var(--body-color);
	transition: var(--transition-03);
}
body.dark {
	--body-color: #1d1e1f;
	--sidebar-color: #242526;
	--sidebar-color-c: rgba(36, 37, 38, 0.5);
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
}
.text {
	font-size: 16px;
	font-weight: normal;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--text-color);
	white-space: nowrap;
	transition: var(--transition-02);
}
/* ===== 사이드바 ===== */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 220px;
	z-index: 10000;
	background: var(--sidebar-color-c);
	padding: 15px 13px;
	transition: var(--transition-05);
}
.sidebar.close {
	width: 60px;
	background: var(--sidebar-color);
}

.sidebar.close .text {
	opacity: 0;
	visibility: hidden;
	/* display: none; */
}
.sidebar .image {
	min-width: 60px;
	display: flex;
	align-items: center;
}
/* ===== 사이드바 header ===== */
.sidebar header {
	position: relative;
}

.sidebar header .image-text {
	display: flex;
	/* align-items: center; */
}

.sidebar header .image-text img {
	width: 40px;
	height: 40px;
	border-radius: 6px;
}

.sidebar header .image-text .text {
	display: flex;
	flex-direction: column;
}

.sidebar header .image-text .text .title {
	font-weight: 700;
}

.sidebar header .image-text .text .description {
	margin-top: 3px;
}
.sidebar header .toggle-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -26px;
	height: 26px;
	width: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--primary-color);
}

/* ===== 사이드바 menu-bar ===== */
.sidebar li {
	height: 50px;
	margin-top: 10px;
	list-style: none;
	display: flex;
	align-items: center;
}
.search-center .icon,
.sidebar .icon {
	min-width: 60px;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	transition: var(--transition-05);
}
.sidebar .menu-bar {
	display: flex;
	flex-direction: column;
	height: calc(100% - 70px);
	justify-content: space-between;
}

.sidebar .menu-bar .menu .search-menu {
	background: var(--primary-color-light);
	border-radius: 6px;
	transition: var(--transition-05);
}
.sidebar .menu-bar .menu .search-menu input {
	background: var(--primary-color-light);
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 6px;
	transition: var(--transition-05);
	color: var(--text-color);
}
.sidebar.close .menu-bar .menu .search-menu input {
	opacity: 0;
}

.sidebar .menu-bar .menu .nav .nav-link li a {
	height: 100%;
	width: 100%;
	display: flex;
	border-radius: 6px;
	align-items: center;
	transition: var(--transition-04);
	text-decoration: none;
}

.sidebar .menu-bar .menu .nav .nav-link li a:hover {
	background: var(--primary-color);
}

.sidebar .menu-bar .menu .nav .nav-link li a:hover .icon,
.sidebar .menu-bar .menu .nav .nav-link li a:hover .text {
	color: var(--sidebar-color);
}
body.dark .sidebar .menu-bar .menu .nav .nav-link li a:hover .icon,
body.dark .sidebar .menu-bar .menu .nav .nav-link li a:hover .text {
	color: var(--text-color);
}
.sidebar .menu-bar .menu .nav .nav-link li a .text {
	transition: var(--transition-04);
}

/* ===== 사이드바 footer ===== */
.sidebar footer {
	display: flex;
	justify-content: space-between;
}
.sidebar footer .mode {
	position: relative;
	width: 100%;
	border-radius: 6px;
	background: var(--primary-color-light);
}
.sidebar footer .mode .sun-moon {
	height: 50px;
	width: 60px;
	display: flex;
	align-items: center;
}
.sidebar footer .mode .sun-moon i {
	position: absolute;
	top: 14px;
}

body.dark .sidebar footer .mode .sun-moon i.bx-moon,
.sidebar footer .mode .sun-moon i.bx-sun {
	opacity: 1;
}
body.dark .sidebar footer .mode .sun-moon i.bx-sun,
.sidebar footer .mode .sun-moon i.bx-moon {
	opacity: 0;
}
.sidebar footer .mode .toggle-switch {
	position: absolute;
	right: 0px;
	display: flex;
	height: 100%;
	min-width: 60px;
	justify-content: center;
	align-items: center;
}
.sidebar footer .mode .toggle-switch .switch {
	position: relative;
	height: 22px;
	width: 44px;
	border-radius: 25px;
	background: var(--toggle-color);
	cursor: pointer;
}
.sidebar footer .mode .toggle-switch .switch::before {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background: var(--sidebar-color);
	transition: var(--transition-02);
}

body.dark .sidebar footer .mode .toggle-switch .switch::before {
	left: 24px;
}
/* ===== 검색창 =====*/
.sidebar + .search-center {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	backdrop-filter: blur(10px) brightness(0.9);
	/* transition: var(--transition-01); */
}
.sidebar.close + .search-center {
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	display: none;
}

.search-center {
	position: relative;
}
.search-center .search-box {
	display: flex;
	flex-direction: column;
	padding: 10px 8px;
	position: absolute;
	border-radius: 10px;
	top: 20%;
	left: calc(50vw + var(--sidebar-width) / 2 + var(--sidebar-width-padding) - var(--search-box-width) / 2 - 8px);
	width: var(--search-box-width);
	background-color: var(--sidebar-color-c);
}
.search-center .search-box .search-bar {
	width: inherit;
	height: 50px;
	border-radius: 6px;
	display: flex;
	background: var(--primary-color-light);
	transition: var(--transition-05);
}
/* .search-center .search-box .search-bar .icon {
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
} */
.search-center .search-box .search-bar input {
	background: var(--primary-color-light);
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 6px;
	transition: var(--transition-05);
	color: var(--text-color);
}
.search-center .search-box .search-results {
	width: inherit;
	margin-top: 10px;
	min-height: 20px;
	border-radius: 6px;
	/* display: flex; */
	background: var(--sidebar-color-c);
	transition: var(--transition-05);
}
.search-center .search-box .search-results li {
	height: 50px;
	margin: 10px 5px;
	list-style: none;
	width: inherit;
	padding: 0px 13px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	border: hsla(210, 4%, 10%, 0.4) 0.5px solid;
	transition: var(--transition-05);
	background: var(--sidebar-color-c);
}
.search-center .search-box .search-results li:hover {
	background: var(--primary-color);
}
.search-center .search-box .search-results li:hover .text {
	color: var(--sidebar-color);
}
body.dark .search-center .search-box .search-results li:hover .text {
	color: var(--text-color);
}

/* =====메인페이지===== */

/* =====홈페이지===== */
.homepage {
	width: calc(100vw - 86px);
}
/* =====홈페이지-슬라이드===== */
.homepage .homepage-slide {
	width: 100%;
	/* height: calc(var(--slide-container-height) + 60px); */
	height: 100vh;
	/* background-color: blue; */
	display: flex;
	/* flex-direction: column; */
	position: relative;
	align-items: center;
	justify-content: space-around;
	box-shadow: var(--box-shadow-01);
	overflow-x: hidden;
	/* overflow-y: hidden; */
}
.homepage .homepage-slide .container {
	position: relative;
	display: flex;
	/* width: var(--slide-container-width);
	height: var(--slide-container-height); */
	width: 63%;
	min-width: 800px;
	min-height: 450px;
	height: 70%;
	/* width: 47%;
	min-width: 600px;
	height: 80%; */
	/* background-color: red; */
	transition: inherit;
	box-shadow: var(--box-shadow-01);
	/* overflow-x: hidden; */
	/* overflow-y: visible; */
	/* transform: translateX(-920px); */
}

.homepage .homepage-slide .container .contents:nth-child(1) {
	width: 100%;
	height: 100%;
	position: absolute;
	left: -280px;
	transition: 0.5s;
	z-index: 80;
	filter: brightness(30%);
	transform: scale(0.75);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(2) {
	width: 100%;
	height: 100%;
	position: absolute;
	left: -140px;
	transition: 0.5s;
	z-index: 90;
	filter: brightness(60%);
	transform: scale(0.9);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(3) {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	transition: 0.5s;
	z-index: 100;
	filter: brightness(100%);
	transform: scale(1);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(4) {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 140px;
	transition: 0.5s;
	z-index: 90;
	filter: brightness(60%);
	transform: scale(0.9);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(5) {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 280px;
	transition: 0.5s;
	z-index: 80;
	filter: brightness(30%);
	transform: scale(0.75);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(6) {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	transition: 0.5s;
	z-index: 110;
	opacity: 1;
	transform: scale(1.01);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
}
.homepage .homepage-slide .container .contents:nth-child(7) {
	width: 0px;
	height: 100%;
	position: absolute;
	left: 93%;
	top: 0%;
	transition: 0.5s;
	z-index: 105;
	opacity: 0;
	background: var(--sidebar-color);
	transform: scale(1.01);
	box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
	overflow: auto;
}
.homepage .homepage-slide .container .contents .slide-thumb {
	width: inherit;
	height: inherit;
}
.homepage .homepage-slide .container .contents .slide-youtube {
	width: inherit;
	height: inherit;
}
.homepage .homepage-slide .buttonR,
.homepage .homepage-slide .buttonL {
	font-size: 75px;
	transition: var(--transition-03);
	color: var(--text-color);
	cursor: pointer;
}

.homepage .homepage-slide .buttonL:hover,
.homepage .homepage-slide .buttonR:hover {
	color: var(--primary-color);
}

.homepage .homepage-slide .size-change-btn-cover {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.homepage .homepage-slide .size-change-btn {
	padding: 0.6em 1.2em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.homepage .homepage-slide .size-change-btn:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.homepage .homepage-slide .size-change-btn:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}
.homepage .homepage-slide .goingDown {
	position: absolute;
	right: 50%;
	bottom: 20px;
	font-size: 50px;
}
/* =====홈페이지-달력===== */
.calender {
	width: 50vw;
	min-width: 600px;
	/* background: var(--component-color); */
	background: rgb(206, 215, 231);
	padding: 12px 16px;
	margin: 20px 24px;
	border-radius: 10px;
	box-shadow: var(--box-shadow-01);
}
.calender .header {
	display: flex;
	justify-content: space-between;
}
.calender .dates {
	display: flex;
	justify-content: space-evenly;
}
.calender .dates .date {
	position: relative;
	display: flex;
	align-items: center;
	/* padding-left: 4px; */
	margin: 3px 3px;
	padding-left: 4px;
	width: 16%;
	background: rgb(220, 219, 193);
	border-radius: 6px;
}
.calender .dates .date::before {
	content: '';
	position: absolute;
	height: 1px;
	left: 1px;
	width: 100%;
	border-radius: 50%;
	top: 120%;
	background-color: black;
}
.calender .days {
	margin-top: 4px;
}
.calender .days .row {
	z-index: 1000;
	display: flex;
	justify-content: space-evenly;
}
.calender .days .row .day {
	width: 16%;
	min-height: 60px;
	margin: 3px 3px;
	padding-left: 4px;
	background: var(--primary-color-light);
	border: rgba(0, 0, 0, 0.66) 0.5px solid;
	border-radius: 4px;
	box-shadow: 1px 0.5px rgba(0, 0, 0, 0.66);
}
.calender .days .day .text {
	font-size: 12px;
}
.calender .days .day .contents {
	width: inherit;
	white-space: normal;
}
/* =====홈페이지-추천===== */
.recommends {
	display: flex;
	width: 100%;
	justify-content: center;
	justify-content: space-evenly;
}
.recommend {
	width: 46%;
	min-width: 600px;
	/* min-height: 100px; */
	background: var(--component-color);
	margin: 13px 0% 0px 0%;
	border-radius: 10px;
	box-shadow: var(--box-shadow-01);
}
.recommend .header {
	width: 96%;
	background: var(--primary-color-light);
	padding: 6px 1%;
	margin: 12px 1%;
	border-radius: 10px;
}
.recommend .header .text {
	font-size: 17px;
	padding-left: 5px;
}

.ytb-icon-list {
	display: flex;
	flex-wrap: wrap;
	min-height: 50px;
	/* width: 94%; */
	margin: 10px 1%;
	/* background-color: blue; */
}
.ytb-icon {
	width: 74px;
	height: 74px;
	/* border: #111 1px solid; */
	/* border-radius: 50%; */
	margin: 5px 8px;
	overflow: hidden;
	/* box-shadow: var(--box-shadow-02); */
	/* background-color: red; */
}
.ytb-icon img {
	border-radius: 50%;
	width: 92%;
	height: 92%;
	margin: 4% 4%;
	object-fit: cover;
}
.ytb-icon img.live {
	box-shadow: #ff3636 0px 0px 0px 3px;
}

.ytb-description {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 90%;
	align-items: center;
	justify-content: center;
	margin: 13px 5%;
	box-shadow: var(--box-shadow-03);
}
.ytb-description .ytb-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5px;
}
.ytb-description .ytb-detail .text {
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	font-weight: 900;
	font-size: 20px;
	margin: 0px 2px;
}
.ytb-description .ytb-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
}

.sub-btn {
	margin: 0px 5px;
	background: #e62143;
	border-radius: 8px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, 'Roboto Slab', 'Droid Serif', 'Segoe UI', system-ui, Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	justify-content: center;
	line-height: 30px;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
	text-underline-offset: 1px;
	transition: all 0.2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 60px;
	word-break: break-word;
	border: 0;
}

.sub-btn:active,
.sub-btn:focus {
	border-bottom-style: none;
	border-color: #dadada;
	box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px inset;
	outline: 0;
}

.sub-btn:hover {
	border-bottom-style: none;
	border-color: #dadada;
}
.sub-btn a {
	text-decoration: none;
	color: #fff;
}
.main-description .text .video-description {
	font-size: 11px;
	width: 90%;
	white-space: pre-wrap;
	word-wrap: break-all;
	height: 160px;
	overflow: hidden;
}
.main-description .video-description.open {
	height: auto;
}
.main-description .description-cell {
	width: 90%;
	height: auto;
	margin: 5px 5%;
	padding: 3px 0;
	box-shadow: var(--box-shadow-03);
}
.main-description .description-cell .text {
	margin: 0px 5px;
	font-size: 14px;
}
/* .main-description .description-cell .ytb-icon-list {
	display: flex;
	flex-wrap: wrap;
} */
.youtube-section-no-icon {
	/* position: relative; */
	display: flex;
	width: 96%;
	height: 80px;
	margin: 2% 2%;
	background: var(--sidebar-color);
	/* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
	box-shadow: var(--box-shadow-02);
	cursor: pointer;
}
.youtube-section-no-icon .thumb {
	width: 50%;
	height: 76px;
	margin: 2px 1%;
	/* background-color: blue; */
	overflow: hidden;
}

.youtube-section-no-icon .thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.youtube-section-no-icon .detail {
	display: flex;
	width: 44%;
	height: 90%;
	margin: 2.5% 0.5%;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: green; */
}

.youtube-section-no-icon .detail .title {
	display: flex;
	width: 100%;
	height: auto;
	max-height: 65%;
	/* background-color: yellow; */
}
.youtube-section-no-icon .detail .title .text {
	font-size: 11px;
	font-weight: 700;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	margin: 2px 0px;
}

.youtube-section-no-icon .detail .name {
	display: flex;
	width: 100%;
	height: 35%;
	/* background-color: #00ffd5; */
	/* align-items: center; */
}
.youtube-section-no-icon .detail .name .text {
	font-size: 10px;
	font-weight: 400;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	margin: 0px 0px;
}

.homepage-slide .live-on {
	display: flex;
	position: absolute;
	left: 5px;
	bottom: 0;
	width: 600px;
	/* margin: 5px 0; */
	align-items: center;
}
.homepage .live-on .live-container-wrap {
	overflow-x: hidden;
}
.homepage-slide .live-on .live-buttonL,
.homepage-slide .live-on .live-buttonR {
	font-size: 25px;
	transition: var(--transition-03);
	color: var(--text-color);
	opacity: 1;
}
.homepage-slide .live-on .live-buttonL:hover,
.homepage-slide .live-on .live-buttonR:hover {
	color: var(--primary-color);
}
.homepage-slide .live-on .live-container {
	/* flex-wrap: nowrap; */
	transform: translateX(0px);
	/* overflow-x: hidden; */
	width: 540px;
	transition: var(--transition-03);
}
.homepage-slide .live-on .live-container .ytb-icon-list {
	display: flex;
	width: 10000px;
	/* flex-wrap: nowrap; */
	margin: 0 0;
}
/* =====홈페이지- 즐찾키리누커===== */
.kirinukerList {
	width: 100%;
}
.kirinukerList .kirinuker {
	display: flex;
	flex-direction: column;
	width: 98%;
	padding: 15px 1%;
}
.kirinukerList .kirinuker .header {
	position: relative;
	display: flex;
}
.kirinukerList .kirinuker .header .ytb-detail {
	display: flex;
	align-items: center;
	padding: 2px 45px 2px 10px;
	background: var(--primary-color-light);
	border-radius: 10px 20px 0px 0px;
	border-right: var(--border);
	border-left: var(--border);
	border-top: var(--border);
	border-bottom: var(--primary-color-light) solid 1px;
}
.kirinukerList .kirinuker .header .ytb-detail .ytb-icon {
	width: 50px;
	height: 50px;
}
.kirinukerList .kirinuker .header .ytb-detail .text {
	font-size: 20px;
	font-weight: 600;
	padding-left: 10px;
}
.kirinukerList .kirinuker .header .analysis {
	display: flex;
	align-items: flex-end;
}
.kirinukerList .kirinuker .header .analysis .vtuber-analysis {
	display: flex;
	align-items: center;
}
.kirinukerList .kirinuker .header .analysis .vtuber-analysis .ytb-icon {
	width: 40px;
	height: 40px;
}
.kirinukerList .kirinuker .header .btns {
	position: absolute;
	right: 0;
	top: 17px;
}
.kirinukerList .kirinuker .body {
	background: var(--primary-color-light);
	height: auto;
	border-top-right-radius: 10px;
	border-right: var(--border);
	border-left: var(--border);
	border-top: var(--border);
}
.kirinukerList .kirinuker .body .kirinuker-recent.open {
	height: 452px;
}
.kirinukerList .kirinuker .body .kirinuker-recent {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	height: 226px;
	overflow-y: hidden;
	transition: var(--transition-05);
	/* border-radius: 0px 10px 10px 0px;
	box-shadow: var(--box-shadow-03);
	transition: var(--transition-05); */
}
.kirinukerList .kirinuker .body .kirinuker-recent .youtube-section-no-icon {
	/* min-width: 270px; */
	flex-basis: 270px;
	flex-grow: 1;
	height: 210px;
	flex-direction: column;
	margin: 8px 10px;
}
.kirinukerList .kirinuker .body .kirinuker-recent .youtube-section-no-icon .thumb {
	width: auto;
	height: 150px;
	margin: 3px 5px;
}
.kirinukerList .kirinuker .body .kirinuker-recent .youtube-section-no-icon .detail {
	width: auto;
	height: fit-content;
	max-height: 46px;
	margin: 3px 5px;
}
.kirinukerList .kirinuker .body .kirinuker-recent .youtube-section-no-icon .detail .title {
	width: auto;
	height: fit-content;
	max-height: 80px;
	overflow-y: hidden;
}
.kirinukerList .kirinuker .footer {
	background: var(--primary-color-light);
	height: 20px;
	position: relative;
	border-radius: 0px 0px 10px 10px;
	border-right: var(--border);
	border-left: var(--border);
	border-bottom: var(--border);
}
.kirinukerList .kirinuker .footer .widen {
	position: absolute;
	bottom: -5px;
	left: calc(50.2%);
	font-size: 24px;
	color: var(--text-color);
}
.kirinukerList .kirinuker .footer .widen.up {
	bottom: -5px;
}
/* .kirinukerList .kirinuker {
	position: relative;
}
.kirinukerList .kirinuker .widen {
	position: absolute;
	bottom: 25px;
	left: calc(55.2%);
	font-size: 24px;
}
.kirinukerList .kirinuker-tab {
	display: flex;
	box-shadow: var(--box-shadow-01);
	border-radius: 10px;
}
.kirinukerList .kirinuker {
	width: 98%;
	display: flex;
	flex-direction: column;
	min-width: 600px;
	min-height: 280px;
	margin: 13px 1% 0px 1%;
	border-radius: 10px;
	background: var(--primary-color-light);
	box-shadow: var(--box-shadow-01);
}
.kirinukerList .kirinuker .kirinuker-detail {
	width: 13%;
	min-height: 220px;
	border-radius: 10px;
}
.kirinukerList .kirinuker .kirinuker-detail .ytb-description {
	min-height: 220px;
	margin: 0px 0px;
	width: 100%;
	justify-content: space-evenly;
	box-shadow: none;
}
.kirinukerList .kirinuker .kirinuker-detail .ytb-description .ytb-detail .ytb-icon {
	width: 95px;
	height: 95px;
}
.kirinukerList .kirinuker .kirinuker-detail .ytb-description .text {
	margin: 3px 5%;
}

.kirinukerList .kirinuker .kirinuker-recent {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 87%;
	height: 220px;
	overflow-y: hidden;
	border-radius: 0px 10px 10px 0px;
	box-shadow: var(--box-shadow-03);
	transition: var(--transition-05);
}
.kirinukerList .kirinuker .kirinuker-recent.open {
	height: 440px;
}
.kirinukerList .kirinuker .kirinuker-recent .youtube-section-no-icon {
	width: 270px;
	height: 210px;
	flex-direction: column;
	margin: 5px 0px;
}
.kirinukerList .kirinuker .kirinuker-recent .youtube-section-no-icon .thumb {
	width: auto;
	height: 78%;
	margin: 5px 5px;
}
.kirinukerList .kirinuker .kirinuker-recent .youtube-section-no-icon .detail {
	width: 95%;
	height: 20%;
	margin: 5px 5px;
}
.kirinukerList .kirinuker .kirinuker-recent .youtube-section-no-icon .detail .title {
	height: 100%;
	max-height: 100%;
}
.kirinukerList .kirinuker .kirinuker-recent .youtube-section-no-icon .detail .title .text {
	font-size: 14px;
}
.kirinuker-analysis {
	display: flex;
}
.vtuber-analysis {
	display: flex;
	margin: 10px 8px 0px 8px;
}
.kirinuker-analysis .vtuber-analysis .ytb-icon {
	width: 46px;
	height: 46px;
	margin: 2px 8px;
}
.kirinuker-analysis .vtuber-analysis .detail {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 5px 0px;
}
.kirinuker-analysis .vtuber-analysis .detail .name.text {
	font-size: 17px;
	font-weight: 700;
}
.kirinuker-analysis .vtuber-analysis .detail .percentage.text {
	font-size: 14px;
	font-weight: 600;
} */
